{% extends 'base/base.html' %}
{% load static %}
{% block main_content %}
    <div class="container w-60 mt-0 p-5  shadow rounded">
        <div class="card text-center shadow">
            <div class="card-header h6 display-6">
                My Account Data
            </div>
            <div class="card-body">
                <div class="container float-start w-50 d-inline-block">
                    <img class="col-10 rounded-circle" src="{% static 'images/default-profile-picture-transparent-hd-png-download.png'%}" alt="Default profile image">
                </div>
                <div class="container float-end text-start w-50 d-inline-block">
                    {% if profile.first_name or profile.last_name %}

                        <h5 class="card-title">
                            Name: {{ profile.first_name|default_if_none:'' }} {{ profile.last_name|default_if_none:'' }}</h5>
                    {% endif %}
                    <h5 class="card-title">Username: {{ profile.username }}</h5>
                    <h5 class="card-text">Email: {{ profile.email }}</h5>
                    <h6 class="card-text">Gender: {{ profile.gender }}</h6>
                    <p class="card-text mt-5"><a class="text-muted" href="{% url 'own published stories user' pk=request.user.pk %}">Published Stories: {{ own_stories_count }}</a></p>
                    <p class="card-text"><a class="text-muted" href="{% url 'own petitions user' pk=request.user.pk %}">Active Own Petitions: {{ own_petitions_count }}</a></p>
                    <p class="card-text"><a class="text-muted" href="{% url 'favourite stories user' pk=request.user.pk %}">Favourite Stories: {{ favourite_stories_count }}</a></p>
                    <p class="card-text mb-5"><a class="text-muted" href="{% url 'forum dashboard' %}?query={{ request.user.username }}">Forum Own Posts: {{ own_posts_count }}</a></p>
                    <a href="{% url 'change password user' pk=profile.pk %}" class="btn btn-outline-info">Change Password</a>
                    <a href="{% url 'edit user' pk=profile.pk %}" class="btn btn-outline-warning">Edit Account</a>
                    <a href="{% url 'delete user' pk=profile.pk %}" class="btn btn-outline-danger">Deactivate</a>
                </div>
            </div>
            <div class="card-footer text-muted">
                Last login: {{ profile.last_login }}
            </div>
        </div>
    </div>


{% endblock %}