{% extends 'base/base.html' %}
{% load bootstrap5 %}

{% block main_content %}

    <div class="container w-60 text-center">
        <h2>Change Password Form</h2>

    <div class="container w-50 text-start mt-5 mb-5 p-5 bg-light shadow rounded">
        <form class="form" method="post" action="{% url 'change password user' pk=request.user.pk %}" >
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="hidden" name="next" value="/">
            {% buttons %}
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-info">Change Password</button>
                </div>
            {% endbuttons %}

        </form>
    </div>

    </div>


{% endblock %}