{% extends 'base/base.html' %}
{% load bootstrap5 %}

{% block main_content %}

    <div class="container w-60 text-center">
        <h2>Profile Edit Form</h2>

    <div class="container w-50 text-start mt-5 mb-5">
        <form class="form" method="post" action="{% url 'edit user' pk=request.user.pk %}" >
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="hidden" name="next" value="{% url 'details user' pk=request.user.pk %}">
            {% buttons %}
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-info">Confirm Edit</button>
                </div>
            {% endbuttons %}

        </form>
    </div>

    </div>


{% endblock %}