{% extends 'base/base.html' %}

{% block main_content %}

    <div class="container-fluid" >
        <img src="..." class="card-img-center" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title-center">PetPalStories</h5>
            <p class="card-text-center">Welcome to PetPalStories where we share the most touching stories of our beloved pets </p>
            <a href="#" class="btn btn-secondary">Login</a>
            <a href="#" class="btn btn-secondary">Register</a>
        </div>
    </div>



{% endblock %}