{% extends 'base/base.html' %}
{% load static %}

{% block main_content %}

    <div class="container mb-5 text-center w-50">

        <div class="card-body text-center">
            <h1 class="card-title-center display-4 p-3">PetPal Stories</h1>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide text-center" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner text-center">
                <div class="carousel-item active w-70">
                    <img src="{% static 'images/Riva1_resized.jpg' %}" class="d-block w-100" alt="riva1-image">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/Riva2_resized.jpg' %}" class="d-block w-100" alt="riva2-image">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/Riva3_resized.jpg' %}" class="d-block w-100" alt="riva3-image">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="card-body text-center mt-3 mb-5">
            <p class="display-6 fs-6 card-text-center">My name is Riva and I'm the reason this site to exist... </p>
            <p class="display-6 fs-6 card-text-center">Did I grab your attention? ..bark...bark..>))) </p>

            <p class="display-6 fs-6 card-text-center">If you like to read more about Riva and other pets like her, you are welcome to <a href="">Sign in</a> or <a href="">Sign up</a> and why not share your own favourite pet's <a href="">Stories</a> or support a cause by signing a <a href="">Petition</a></p>
            <div class="container mt-3 mb-5">
            <a href="#" class="btn btn-primary opacity-50">Sign In</a>
            <a href="#" class="btn btn-primary opacity-50">Sign Up</a>
            </div>
        </div>

    </div>





{% endblock %}