{% extends 'base/base.html' %}
{% load bootstrap5 %}

{% block main_content %}


    <div class="container w-60 text-center mt-5">
        <h2>Support This Petition by Signing It Off</h2>

    <div class="card container shadow w-50 text-start mt-5 mb-5 p-5 bg-light shadow rounded">
    <div class="container mt-2 mb-3 ">
        <h5 class="mb-3 mt-5">Title: {{ petition.title }}</h5>
        <p class="h6 mb-3 mt-5">Description: {{ petition.description }}</p>


    </div>
        <form class="form mt-1 mb-2 p-3" method="post" action="{% url 'sign petition' slug=petition.slug pk=request.user.pk %}" enctype="multipart/form-data">

            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <div class="text-center mt-5">
                <button type="submit" class="btn btn-outline-info">Sign Petition</button>
                </div>
            {% endbuttons %}

        </form>
    </div>

    </div>


{% endblock %}