{% extends 'base/base.html' %}
{% load bootstrap5 %}

{% block main_content %}


    <div class="container w-60 text-center mt-5">
        <h2>Message the Owner of This Story</h2>

    <div class="container w-50 text-start mt-5 mb-5">
        <h5>Subject: {{ story.title }}</h5>
        <h6>To: {{ receiver }}</h6>
        <h6>From: {{ sender }}</h6>
        <form class="form " method="post" action="{% url 'message story' slug=story.slug %}" enctype="multipart/form-data">

            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <div class="text-center">
                <button type="submit" class="btn btn-primary opacity-50">Send Message</button>
                </div>
            {% endbuttons %}

        </form>
    </div>

    </div>


{% endblock %}