{% extends 'base/base.html' %}
{% load bootstrap5 %}

{% block main_content %}


    <div class="container w-60 text-center mt-0 pt-5">
        <h2>Message the Author of This Story</h2>

    <div class="container w-50 text-start mt-5 mb-5">
    <div class="container card mb-1">
        <h5>Subject: {{ story.title }}</h5>
        <p class="d-inline h6">To: {{ receiver }}<span class="d-inline h6 ms-5">From: {{ sender }}</span></p>


    </div>
        <form class="form " method="post" action="{% url 'message story' slug=story.slug %}" enctype="multipart/form-data">

            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <div class="text-center">
                <button type="submit" class="btn btn-outline-info">Send Message</button>
                </div>
            {% endbuttons %}

        </form>
    </div>

    </div>


{% endblock %}