{% extends 'base/base.html' %}
{% load static %}

{% block main_content %}
    <div class="container w-60 ">
        <div class="container-fluid text-center">
            <h4 class="card-title-center display-6 mt-0 mb-5 p-5">New Messages</h4>

        </div>

        <div class="row mt-5 mb-5 p-5  shadow rounded">


            {% for message in  new_messages %}

                <div class="card w-55 mb-1 shadow">
                    <div class="card-body">
                        <div class="row text-start">
                            <div class="col-sm-4 card-body">Subject: {{ message.subject|truncatechars:20 }}
                            </div>
                            <div class="col-sm-2 card-body">From: {{ message.sender }}
                            </div>
                            <div class="col-sm-3 card-body text-muted">Sent on: {{ message.sent_on }}
                            </div>
                            <div class="col-sm-3 card-body text-muted">Seen on: {{ message.seen_on|default_if_none:'Not seen yet' }}
                            </div>

                        </div>
                        <div class="row text-start">
                            <div class="card-body">Text: {{ message.text }}</div>
                        </div>
                        <div class="row text-start">
                            <div class="card-body">
                            <a href="{% url 'mark as read messages' pk=request.user.id pk_message=message.pk %}"
                               class="col-lg-2 col-sm-6 btn btn-outline-info me-2">Mark as Read</a>
                            <a href="{% url 'delete messages' pk=request.user.id pk_message=message.pk %}"
                               class="col-lg-2 col-sm-6 btn btn-outline-danger">Delete</a>

                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <h4 class="d-block text-center"> You are Up to Date, No New Messages</h4>
            {% endfor %}


        </div>
        <div class="container-fluid text-center">
            <h4 class="card-title-center display-6 mt-5 mb-5 p-5">Read Messages</h4>

        </div>

        <div class="row mt-5 mb-5 p-5  shadow rounded">

            {% for message in  read_messages %}

                <div class="card w-55 mb-1 shadow">
                    <div class="card-body">
                        <div class="row text-start">
                            <div class="col-sm-4 card-body">Subject: {{ message.subject|truncatechars:20 }}
                            </div>
                            <div class="col-sm-2 card-body">From: {{ message.sender }}
                            </div>
                            <div class="col-sm-3 card-body text-muted">Sent on: {{ message.sent_on }}
                            </div>
                             <div class="col-sm-3 card-body text-muted">Seen on: {{ message.seen_on|default_if_none:'Not seen yet' }}
                            </div>
                        </div>
                        <div class="row text-start">
                            <div class="card-body">Text: {{ message.text }}</div>
                        </div>
                        <div class="row text-start">
                            <div class="card-body">
                                <a href="{% url 'delete messages' pk=request.user.id pk_message=message.pk %}"
                                   class="col-lg-2 col-sm-6 btn btn-outline-danger">Delete</a>
                            </div>
                        </div>

                    </div>
                </div>
            {% empty %}
                <h4 class="d-block text-center"> No Read Messages</h4>
            {% endfor %}


        </div>

        <div class="container-fluid text-center">
            <h4 class="card-title-center display-6 mt-5 mb-5 p-5">Sent Messages</h4>

        </div>

        <div class="row mt-5 mb-0 p-5  shadow rounded">

            {% for message in  sent_messages %}

                <div class="card w-55 mb-1 shadow">
                    <div class="card-body">
                        <div class="row text-start">
                            <div class="col-sm-4 card-body">Subject: {{ message.subject|truncatechars:20 }}
                            </div>
                            <div class="col-sm-2 card-body">To: {{ message.receiver }}
                            </div>
                            <div class="col-sm-3 card-body text-muted">Sent on: {{ message.sent_on }}
                            </div>
                             <div class="col-sm-3 card-body text-muted">Seen on: {{ message.seen_on|default_if_none:'Not seen yet' }}
                            </div>
                        </div>
                        <div class="row text-start">
                            <div class="card-body">Text: {{ message.text }}</div>
                        </div>
                        <div class="row text-start">
                            <div class="card-body">
                                <a href="{% url 'delete messages' pk=request.user.id pk_message=message.pk %}"
                                   class="col-lg-2 col-sm-6 btn btn-outline-danger">Delete</a>
                            </div>
                        </div>


                    </div>
                </div>
            {% empty %}
                <p class="d-block text-center h4"> No Sent Messages</p>
            {% endfor %}


        </div>
    </div>
{% endblock %}