{% extends 'base/base.html' %}
{% load static %}

{% block main_content %}
    <div class="container w-70">
        <div class="container-fluid text-center">
            <h4 class="card-title-center display-5 mt-0 mb-5 p-5">My Active Petitions</h4>

        </div>

        <div class="row mt-5 mb-5">


            {% for petition in  my_petitions %}

                {% include 'base/partials/small-petition-card.html' with petition=petition %}
            {% empty %}
                <h4 class="d-block text-center"> No Active Petitions</h4>
            {% endfor %}


        </div>

            <div class="container-fluid text-center">
            <h4 class="card-title-center display-5 mt-5 mb-5 p-5">My Inactive Petitions</h4>

        </div>

        <div class="row mt-5 mb-5">


            {% for petition in  my_petitions_stopped %}

                {% include 'base/partials/small-petition-card.html' with petition=petition %}
            {% empty %}
                <h4 class="d-block text-center"> No Inactive Petitions</h4>
            {% endfor %}


        </div>



    </div>
{% endblock %}