{% extends 'base/base.html' %}
{% load static %}

{% block main_content %}
    <div class="container w-70">
        <div class="container-fluid text-center">
            <h4 class="card-title-center display-5 mt-5 mb-5 p-5">My Favourite Stories</h4>

        </div>

        <div class="row mt-5 mb-5">


            {% for story in  stories_filtered %}

                {% include 'base/partials/small-story-card.html' with story=story %}
            {% empty %}
                <h6 class="d-block text-center"> No Favourite Stories</h6>
            {% endfor %}


        </div>


            <div class="container-fluid text-center">
                <p class="card-title-center display-5 mt-5 mb-5 p-5">Last Seen Stories</p>

            </div>
            <div class="row mt-5 mb-5">

            {% for story in  last_seen %}

                <div class="col-sm-2 gap-1 mt-3 mb-3">
                <a href="{% url 'details story' slug=story.slug %}" class="">
                    <div class="card me-0 shadow" style="width: 10rem; height: 10rem;">
                        {% if story.image %}
                            <img src="/media/{{ story.image }}" class="card-img-top" alt="pet image"
                                 style="width: 10rem; height: 7rem;">
                        {% else %}
                            <img src="{% static 'images/default_animal_image.png' %}" class="card-img-top"
                                 alt="pet image"
                                 style="width: 10rem; height: 7rem;">
                        {% endif %}
                        <div class="card-body">
                            <p class="card-title">Title: {{ story.title|truncatechars:10 }}</p>
                        </div>
                    </div>
                </a>
                </div>

            {% empty %}
                <h6 class="d-block text-center text-muted"> No Stories Seen Yet</h6>
            {% endfor %}


        </div>


    </div>
{% endblock %}