{% extends 'base/base.html' %}
{% load static %}


{% block main_content %}
    <div class="container-fluid text-center">
        <h1 class="card-title-center display-5 mt-0 mb-5 p-5">Pets Stories</h1>
        {% if request.user.is_authenticated %}

            <div class="container mt-5 mb-5">
                <a href="{% url 'add story' %}" class="btn btn-info">Add a New Story</a>

            </div>
        {% endif %}
    </div>
    <div class = "container-fluid w-50 mx-start text-left  mt-3 mb-5 p-0">
          <form class="d-flex" role="search" method="GET" action="{% url 'stories' %}">
            <input class="form-control me-2" type="search" placeholder="Search by pet name or pet type..." aria-label="Search" name="query" value="{{ request.GET.query }}">
            <button class="btn btn-info" type="submit">Search</button>
          </form>
    </div>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-info" href="?page=1">&laquo; first</a>
            <a class="btn btn-info" href="?page={{ page_obj.previous_page_number }}">prev</a>
        {% endif %}

        <span class="current text-muted h6">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-info" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="btn btn-info" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

    <div class="row mt-5 mb-5 p-5  shadow rounded" style="background-image: url({% static 'images/light-brown-beige-gradient-abstract-260nw-289482776.png' %});background-repeat: no-repeat;background-size: cover;">


        {% for story in  stories %}
            {% include 'base/partials/small-story-card.html' with story=story %}
        {% empty %}
            <h2 class="d-block text-center"> No Published Stories </h2>
        {% endfor %}


    </div>
{% endblock %}