{% extends 'base/base.html' %}
{% load static %}

{% block main_content %}
    <div class="container-fluid text-center">
        <h1 class="card-title-center display-1 mt-5 mb-5 p-5">Pets Stories</h1>
        {% if request.user.is_authenticated %}

            <div class="container mt-5 mb-5">
                <a href="{% url 'add story' %}" class="btn btn-primary opacity-50">Add a New Story</a>

            </div>
        {% endif %}
    </div>

    <div class="row mt-5 mb-5">


        {% for story in  stories %}
            {% include 'base/partials/small-story-card.html' with story=story %}
        {% empty %}
            <h2 class="d-block text-center"> No Published Stories </h2>
        {% endfor %}


    </div>
{% endblock %}