{% extends 'base/base.html' %}
{% load static %}


{% block main_content %}
    <div class="container-fluid text-center">
        <h1 class="card-title-center display-5 mt-0 mb-5 p-5">Pets Stories</h1>
        {% if request.user.is_authenticated %}

            <div class="container mt-5 mb-5">
                <a href="{% url 'add story' %}" class="btn btn-info">Add a New Story</a>

            </div>
        {% endif %}
    </div>
    <div class = "container-fluid w-50 mx-start text-left  mt-3 mb-5 p-0">
          <form class="d-flex" role="search" method="GET" action="{% url 'stories' %}">
            <input class="form-control me-2" type="search" placeholder="Search by pet name or pet type..."
                   aria-label="Search" name="query" {% include 'base/partials/query.html' %}>

            <button class="btn btn-info" type="submit">Search</button>
          </form>
    </div>

    {% include 'base/partials/pagination.html' %}

    <div class="row mt-5 mb-5 p-5  shadow rounded">


        {% for story in  stories %}
            {% include 'base/partials/small-story-card.html' with story=story %}
        {% empty %}
            <h2 class="d-block text-center"> No Published Stories </h2>
        {% endfor %}


    </div>
{% endblock %}