{% extends 'base/base.html' %}
{% load static %}
{% block main_content %}

    <div class="container-fluid p-5 bg-light shadow rounded text-center">
        <img src="{% static 'images/default_animal_image.png' %}" alt="500 error gif">
        <div class="not-found">
        <h1>
            Sorry, it was us, not you...We are in bug hunting :)
        </h1>

        <h3>Error 500 - Bug Hunt!</h3>

        <a href="{% url 'index' %}" class="btn btn-outline-info">Return to PetPalStories</a>
    </div>
    </div>




{% endblock %}