{% load static %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand fs-4" href="{% url 'index' %}"><img src="{% static 'images/default_animal_image.png' %}" class="card-img-top me-1" alt="pet image"
                 style="width: 2rem; height: 2rem;">PetPalStories</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 float-start">
                <li class="nav-item">
                    <a class="nav-link fs-4" aria-current="page" href="{% url 'stories' %}">Stories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-4" href="#">Petitions</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-3 float-end text-right">
                {% if not request.user.is_authenticated %}


                    <li class="nav-item">
                        <a class="nav-link fs-4" aria-current="page" href="{% url 'login' %}">SignIn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-4" href="{% url 'register' %}">SignUp</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link fs-4" href="{% url 'add story' %}">Add Story</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-4" href="#">Notifications</a>
                    </li>

                    <li class="nav-item dropdown me-5">
                        <a class="nav-link fs-4 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Profile
                        </a>
                        <ul class="dropdown-menu bg-light">
                            <li><a class="dropdown-item" href="{% url 'details user' pk=request.user.pk %}">Account</a></li>
                            <li><a class="dropdown-item" href="#">Stories</a></li>
                            <li><a class="dropdown-item" href="#">Petitions</a></li>
                            <li><a class="dropdown-item" href="{% url 'messages user' pk=request.user.pk %}">Messages</a></li>
                            <li><a class="dropdown-item" href="#">Favourites</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item fw-bold" href="{% url 'logout' %}">Sign Out</a></li>
                        </ul>
                    </li>
                {% endif %}


            </ul>
            {#      <form class="d-flex" role="search">#}
            {#        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
            {#        <button class="btn btn-outline-success" type="submit">Search</button>#}
            {#      </form>#}
        </div>
    </div>
</nav>