<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-info" href="?page=1">&laquo; first</a>
            <a class="btn btn-info" href="?page={{ page_obj.previous_page_number }}">prev</a>
        {% else %}
            <a class="btn btn-outline-info disabled" href="">&laquo; first</a>
            <a class="btn btn-outline-info disabled" href="">prev</a>
        {% endif %}

        <span class="current text-muted h6">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-info" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="btn btn-info" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% else %}
            <a class="btn btn-outline-info disabled" href="">next</a>
            <a class="btn btn-outline-info disabled" href="">last &raquo;</a>
        {% endif %}
    </span>
</div>