{% load static %}


<div class="card mb-3 shadow px-3"> {#style="max-width: 70rem;"#}
    <div class="row g-0">

        <div class="row mt-2 text-start pt-2">
            <p class="card-title fw-bold">Topic: {{ post.topic|capfirst }}</p>
        </div>
        <div class="row text-start">
            <p class="card-text mb-1 text-muted col-sm-4 ">published by: {{ post.owner.username }}</p>
            <p class="card-text mb-1 text-muted col-sm-4">published on: {{ post.published_on }}</p>
            {% if request.user.is_authenticated %}
                <p class="card-text mb-2 col-sm-4 text-start ps-2">
                    <button data-id= "{{ post.pk }}" class="btn btn-outline-info">See Comments</button>

                </p>
            {% endif %}
        </div>
            {% if  request.user.is_authenticated %}
                <div class="mb-3 row text-start">
                    <form class="form row">
                        <label for="{{ post.pk }}" class="form-label"></label>
                        <p class="col-sm-8 text-start">
                            <textarea class="form-control border border-info" id="{{ post.pk }}" rows="1"
                                      placeholder="Type your comment here..."></textarea>
                        </p>
                        <p class="col-sm-4 text-start ps-4">
                            <button data-post= "{{ post.pk }}" data-user="{{ request.user.pk }}"  type="submit" class="btn btn-info">Send Comment</button>
                        </p>
                    </form>
                </div>
                <div data-name="comments-per-post{{ post.pk }}" class="row text-start">
                </div>



            {% endif %}
    </div>
</div>