           <div class="col-sm-3 gap-3 mt-3 mb-3">
                <div class="card" style="width: 18rem; height: 25rem;">
                    <img src="/media/{{story.image}}" class="card-img-top" alt="{{story.title}} image" style="width: 18rem; height: 15rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ story.title}}</h5>
                        <p class="card-text">{{ story.story_text}}</p>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'details story' slug=story.slug %}" class="btn btn-primary opacity-50">Details</a>
                        {% endif %}
                    </div>
                </div>
            </div>