{% extends 'base/base.html' %}
{% load static %}


{% block main_content %}
    <div class="container-fluid text-center">
        <h1 class="card-title-center display-5 mt-0 mb-5 p-5">Active Petitions</h1>
        {% if request.user.is_authenticated %}

            <div class="container mt-5 mb-5">
                <a href="{% url 'add petition' %}" class="btn btn-info">Start a New Petition</a>

            </div>
        {% endif %}
    </div>
    <div class="container-fluid w-50 mx-start text-left  mt-3 mb-5 p-0">
        <form class="d-flex" role="search" method="GET" action="{% url 'petitions' %}">
            <input class="form-control me-2" type="search"
                   placeholder="Search by title or target location (e.g. 'national')..." aria-label="Search"
                   name="query" {% include 'base/partials/query.html' %}>
            <button class="btn btn-info" type="submit">Search</button>
        </form>
    </div>

    {% include 'base/partials/pagination.html' %}

    <div class="container-fluid mt-3 mb-3 p-5  shadow rounded">


        {% for petition in  petitions %}
            {% include 'base/partials/small-petition-card.html' with petition=petition %}
        {% empty %}
            <h2 class="d-block text-center"> No Active Petitions </h2>
        {% endfor %}


    </div>
{% endblock %}