{% extends 'base/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block main_content %}
    <div class="container text-center mt-0 mb-5">
        <p class="h2 display-6 pt-3">Petition's Details</p>
    </div>
    <div class="card container text-center mt-5 p-5 bg-light shadow rounded">

        <div class="card-body container row text-center">
            {% if petition.image.url %}
                <img src="{{ petition.image.url }}" class="col-4 rounded-circle shadow" style="max-height:25rem" alt="{{ petition.title }}'s image">
            {% else %}
                <img src="{% static 'images/default_petition1.png' %}" class="col-4 shadow rounded-circle" style="max-height:25rem"
                     alt="{{ petition.title }}'s image">
            {% endif %}

            <div class="card-body col-6 text-start ms-5 ps-5">
                <h5 class="card-title">Title: {{ petition.title|capfirst }}</h5>
                <p class="card-text fw-6">Target Location: {{ petition.location }}</p>
                <p class="card-text">Description: {{ petition.description|capfirst }}</p>
                <p class="card-text">Goal: {{ petition.goal }} unique signatures</p>
                <hr>

                <p class="card-text"><small class="text-muted">Published on: {{ petition.published_on }}</small></p>
                <p class="card-text"><small class="text-muted">Last signed on: {{ last_signed_on}}</small></p>
                <p class="card-text"><small class="text-muted">Last signed by: {{ last_signed_from }}</small></p>
                {% if still_to_go < 0  %}
                <p class="card-text"><small class="text-muted">Received {{ total_signatures }} total unique signatures so far </small></p>
                {% else %}
                <p class="card-text"><small class="text-muted">{{ still_to_go }} signatures to go </small></p>
               {% endif %}
                <hr>
                <div class="mt-5 mb-2">
                {% if petition.owner_id == request.user.id and petition.is_active %}
                    <a href="{% url 'edit petition' slug=petition.slug  %}" class="btn btn-outline-warning">Edit Petition</a>
                    <a href="{% url 'stop petition' slug=petition.slug  %}" class="btn btn-outline-danger">Stop Petition</a>

                {% endif %}
                {% if not is_signed and petition.is_active %}
                    <a href="{% url 'sign petition' slug=petition.slug pk=request.user.pk %}" class="btn btn-outline-info">Sign Petition</a>
                {% endif %}
                </div>


            </div>


        </div>


    </div>


{% endblock %}