{% extends 'base/base.html' %}
{% load bootstrap5 %}

{% block main_content %}

    <div class="container w-60 text-center">
        <h2>Stop Your Petition</h2>


    <div class="container w-50 text-start mt-5 mb-5">
        <form class="form " method="post" action="{% url 'stop petition' slug=petition.slug pk=request.user.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <div class="text-center">
                <button type="submit" class="btn btn-outline-danger">Stop Petition</button>
                </div>
            {% endbuttons %}

        </form>
    </div>

    </div>

{% endblock %}