{% extends 'base/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block main_content %}
    <div class="container text-center mt-5 mb-5">
        <h2 class="">Petition's Details</h2>
    </div>
    <div class="card container text-center mt-5">

        <div class="card-body container row text-center">
            {% if petition.image %}
                <img src="/media/{{ petition.image }}" class="col-5 rounded-circle shadow" alt="{{ petition.title }}'s image">
            {% else %}
                <img src="{% static 'images/default_petition1.png' %}" class="col-5 shadow rounded-circle"
                     alt="{{ petition.title }}'s image">
            {% endif %}

            <div class="card-body col-6">
                <h5 class="card-title">Title: {{ petition.title|capfirst }}</h5>
                <p class="card-text fw-6">Target Location: {{ petition.location }}</p>
                <p class="card-text">Description: {{ petition.description|capfirst }}</p>
                <p class="card-text">Goal: {{ petition.goal }} unique signatures</p>
                <hr>

                <p class="card-text"><small class="text-muted">Published on: {{ petition.published_on }}</small></p>
                <p class="card-text"><small class="text-muted">Last signed on: {{ last_signed_on }}</small></p>
                <p class="card-text"><small class="text-muted">Last signed by: {{ last_signed_from }}</small></p>
                <p class="card-text"><small class="text-muted">Still to go: {{ still_to_go }} signatures</small></p>
                <hr>
                <div class="mt-5 mb-2">
                {% if petition.owner_id == request.user.id %}
                    <a href="{% url 'edit petition' slug=petition.slug %}" class="btn btn-outline-warning">Edit Petition</a>
                    <a href="{% url 'stop petition' slug=petition.slug %}" class="btn btn-outline-danger">Stop Petition</a>

                {% endif %}
                {% if not is_signed %}
                    <a href="#" class="btn btn-outline-info">Sign Petition</a>
                {% endif %}
                </div>


            </div>


        </div>


    </div>


{% endblock %}