{% extends 'base/base.html' %}
{% load static %}


{% block main_content %}
    <div class="container-fluid text-center">
        <h1 class="card-title-center display-5 mt-0 mb-5 p-5">Forum Posts</h1>
        {% if request.user.is_authenticated %}

            <div class="container mt-5 mb-5">
                <a href="{% url 'add post' %}" class="btn btn-info">Create a New Post</a>

            </div>
        {% endif %}
    </div>
    <div class = "container-fluid w-50 mx-start text-left  mt-3 mb-5 p-0">
          <form class="d-flex" role="search" method="GET" action="{% url 'forum dashboard' %}">
            <input class="form-control me-2" type="search" placeholder="Search by topic..." aria-label="Search" name="query" value="{{ request.GET.query }}">
            <button class="btn btn-info" type="submit">Search</button>
          </form>
    </div>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-info" href="?page=1">&laquo; first</a>
            <a class="btn btn-info" href="?page={{ page_obj.previous_page_number }}">prev</a>
        {% endif %}

        <span class="current text-muted h6">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-info" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="btn btn-info" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

    <div class="container-fluid mt-3 mb-3 p-5  shadow rounded">


        {% for post in  posts %}
            {% include 'base/partials/small-post-card.html' with post=post %}
        {% empty %}
            <h2 class="d-block text-center"> No Published Post </h2>
        {% endfor %}


    </div>
{% endblock %}