{% extends 'base/base.html' %}
{% load static %}


{% block main_content %}
    <div class="container-fluid text-center">
        <h1 class="card-title-center display-5 mt-0 mb-5 p-5">Forum Posts</h1>
        {% if request.user.is_authenticated %}

            <div class="container mt-5 mb-5">
                <a href="{% url 'add post' %}" class="btn btn-info">Create a New Post</a>

            </div>
        {% endif %}
    </div>
    <div class="container-fluid w-50 mx-start text-left  mt-3 mb-5 p-0">
        <form class="d-flex" role="search" method="GET" action="{% url 'forum dashboard' %}">
            <input class="form-control me-2 " type="search" placeholder="Search by topic or author's username..."
                   aria-label="Search" name="query" {% include 'base/partials/query.html' %}>
            <button class="btn btn-info" type="submit">Search</button>
        </form>
    </div>

    {% include 'base/partials/pagination.html' %}

    <div data-id="comments" class="container-fluid mt-3 mb-3 p-5  shadow rounded">


        {% for post in  posts %}
            {% include 'base/partials/small-post-card.html' with post=post %}
        {% empty %}
            <h2 class="d-block text-center"> No Published Posts </h2>
        {% endfor %}


    </div>
{% endblock %}

{% block my_scripts %}
    <script src="{% static 'styles/js/myJS/comments.js' %}">
    </script>

{% endblock %}